COMPOSE_PROJECT_NAME=idea-app

APP_ENV=dev
PUBLIC_ENV_NAME=dev
APP_DISPLAY_NAME=Idea Dummy App
PUBLIC_API_BASE_PATH=/api
APP_MESSAGE=Hello from the dummy backend

FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=8080
DB_HOST_PORT=5432

POSTGRES_DB=idea_app
POSTGRES_USER=idea
POSTGRES_PASSWORD=replace-me

